body{
    background-color: darkgray;
    overflow-x: hidden;
}

/* Preloader */
#preloader{
    background: white no-repeat center center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Product page */


/* Navbar */
.navbar{
    background-color: #1A4649;
    color: #F4B554;
}
.navbar-brand{
    color: #F4B554 !important;
    font-family: 'Racing Sans One', sans-serif;
}
.logo{
    width: 75px;
    height: 75px;
}
.nav-link:hover{
    text-decoration: underline;
    color: #F4B554 !important;
}

/* Landing Image and Text */
.masterhead{
    background-image: url('./images/yellow\ motorbike\ banner\ -\ chw-2.png');
    background-size: cover;
    min-height: 90vh;
    position: relative;
    color: white;
    font-family: 'Racing Sans One', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}
@media (max-width: 1000px) {
    .masterhead{
        min-height: 30vh;
    }
}

/* Image Gallery */
.container2{
    overflow-x: hidden;
}
.image{
    display: block;
    width: 33%;
    margin: 0 auto;
}
.thumbnail:hover{
    transform: translateY(-10px);
}
.caption{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1A4649;
}

/* Newsletter */
.news{
    background-color: #F4B554;
    border: px solid white;
}
.news-word{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #1A4649;
    font-weight: bold;
}

/* Footer */
.footer{
    background-color: #1A4649;

}
h2{
    color: #F4B554 !important;
    font-family: 'Racing Sans One', sans-serif;
}
.logo2{
    width: 240px;
    height: 240px;
}
.quote{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Footer Bottom */
.footerbottom{
    background-color: #1A4649;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #F4B554;
}
.designer{
    color: cyan;
    opacity: 0.65;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* Product Page */
.ourproduct{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Racing Sans One', sans-serif;
    color: #1A4649;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.small-img-col:hover{
    transform: translateY(-10px);
}
.sproduct select{
    display: block;
    padding: 5px 10px;
}
.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.producttext{
    margin-left: 35px;
}
.producttext h6{
    color: rgb(172, 172, 172);
}
.producttext h3{
    color: #1A4649;
    font-size: 79px;
    font-family: 'Russo One', sans-serif;
    font-style: italic;
}
.producttext h2{
    font-family: 'Russo One', sans-serif;
    font-style: italic;
}
.related {
    color: #1A4649;
    font-family: 'Racing Sans One', sans-serif;
}

/* About Us */
.masterhead2{
    background-image: url('./images/some\ motorsikal\ banners\ -\ chw/6.png');
    background-size: cover;
    min-height: 90vh;
    position: relative;
    color: white;
    font-family: 'Racing Sans One', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
.aboutus {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .aboutus h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    font-family: 'Racing Sans One', sans-serif;
    color: #1A4649;
  }

  .aboutus h4{
    font-size: medium;
  }
  
  .aboutus h5{
    color: #1A4649;
    font-weight: bold;
  }

  .aboutus p {
    text-align: justify;
    line-height: 1.5;
    color: #666666;
  }

  .section3 {
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .section-content {
    font-size: 16px;
    color: #666666;
  }

  .image-container3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .image-container3 img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .image-container4 {
      float: right;
      margin-left: -1000px;
  }

/* Login */
.login h1{
    color: #1A4649;
    font-family: 'Racing Sans One', sans-serif;
}

/* Profile */
.profile h1{
    color: #1A4649;
    font-family: 'Racing Sans One', sans-serif;
}
.information h6{
    font-weight: bold;
}

/* FAQs */
.faq h1{
    color: #1A4649;
    font-family: 'Racing Sans One', sans-serif;
}

/* Contact Us */
.masterhead3{
    background-image: url('./images/some\ motorsikal\ banners\ -\ chw/7.png');
    background-size: cover;
    min-height: 90vh;
    position: relative;
    color: white;
    font-family: 'Racing Sans One', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
.contact h3{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #1A4649;
}
.contactdetails{
    display: flex;
    align-items: center;
    text-align: left;
}
.contactdetails p{
    font-size: 24px;
    font-weight: bold;
    color: #1A4649;
}
.address:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Product Page */
.tittle h3{
    display: flex;
    text-align: left;
    font-size: 80px;
    font-family: inherit;
    color:#1A4649;
    text-decoration: underline;
}
.description p{
    text-align: left;
}

/* Rewards Page */
.reward h1{
    color: #1A4649;
    font-family: 'Racing Sans One', sans-serif;
}

/* SignUp Page */
.signup h1{
    color: #1A4649;
    font-family: 'Racing Sans One', sans-serif;
}

/* Cart Page */
.carttext{
    color: #1A4649;
    font-family: 'Racing Sans One', sans-serif;
}
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.products-container ion-icon{
    font-size: 25px;
    color: #1A4649;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}
.price{
    width: 15%;

    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;

    display: flex;
    align-items: center;
}
.total{
    width: 10%;

    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

}
.product ion-icon{
    cursor: pointer;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.products img{
    width: 75px;
}
.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}
.basketTotal{
    width: 10%;
}

/* Profile Page */
.profilepic img{
    border-radius: 180px;
    width: 175px;
    height: 100%;
}
.profilename h3{
    color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.information span{
    color: #666666;
    text-decoration: underline;
}
.loyalty h2{
    color: #1A4649 !important;
    font-family: 'Racing Sans One', sans-serif;
}
.loyaltycard{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

/* Cart Nav Bar */
.cart span{
    color: #F4B554;
}
.cart2 span{
    color: #F4B554;
}

/* Reward Page */
.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  